<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Principal 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/foto.jpg" />
    <ion-card-header>
      <ion-card-title>José Augusto Rodrigues dos Santos</ion-card-title>
      <ion-card-subtitle>ADS - Formadora</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button (click)="gopage2()">Página 1</ion-button>
    </ion-card-content>

    <ion-card-content>
      <ion-button (click)="gopage3()">Página 2</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
